@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins";
}

*:hover {
    border: 1px solid red;
}

.visit-mode, .customer-visit-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 100vh;
    background-image: url("/visit-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#visit-question {
    font-size: 3.8em;
    position: relative;
    top:-10%;
}

.visit-buttons > button:nth-child(1) {
    margin-right: 50px;
}
.visit-buttons > button, .customer-visit-page > button {
    outline: none;
    padding:60px;
    font-size: 2.5em;
    min-width:300px;
    border: none;
    border-radius: 20px;
    background-color: rgb(196, 216, 235);
}

.visit-buttons > button:hover {
    background-color: rgb(140, 186, 230);
    cursor: pointer;
}

.sign-up {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.signup-left-background, .signup-admin-background {
    background-color: #FDC015;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-admin-background {
    background-color: #E8E8E8;
}

.welcome-title {
    font-size: 5.3em;
    font-weight: 200;
    padding-bottom: 50px;
}

.welcome-desc {
    width:800px;
    text-align: center;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 200;
    padding-bottom: 50px;
}

.signup-left-background > img, .signup-admin-background > img {
    position: relative;
    top:5%;
}


.sign-up-form, .sign-up-form-2, .signup-left-background, .signup-admin-background {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.sign-up-title {
    font-size: 2.5em;
    text-align: center;
}
.sign-up-form, .sign-up-form-2 {
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: #b9c50e;
}

.sign-up-form-2 { 
    background-color: #7690b8;
}

.sign-up-form > input, .sign-up-form-2 > input { 
    border:1px solid red;
    border:none;
    box-shadow: 0px 3px 6px 0px rgba(16, 16, 17, 0.1);
    padding:15px 60px 15px 20px;
    font-size: 1.1em;
    width:35%;
}

.sign-up-form > input:focus, .sign-up-form-2 > input:focus {
    outline:none;
    box-shadow: 0px 5px 6px 0px rgba(16, 16, 17, 0.3);
}

.sign-up-form > img {
    height: 200px;
}
.sign-up-form > img, .sign-up-form-2 > img {
    position: relative;
    top:10%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(-60deg, #667eea, #764ba2, #4e63c4, #688a49);
    background-size: 400% 400%;
    animation: loginAnimation 8s ease infinite;
}

@keyframes loginAnimation {
    /* xy axis starting from 0,0 top left  */
    0% {
        background-position: 0% 0%; 
    }

    25% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.login {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login > input {
    padding:15px 60px 15px 20px;
    font-size: 1.1em;
}

.login-button {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgba(172, 167, 167, 0.2);
    border-radius: 10px;
    font-size: 1.5em;
    padding:15px 60px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgba(172, 167, 167, 0.4);
}

.login-title {
    font-size: 2.3em;
}

#sign-up-button {
    text-align: center;
    font-size: 1.5em;
    width:35%;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #3377dd;
    border-radius: 10px;
}

#sign-up-button:hover {
    background-color: #226ee0;
}




.back-arrow {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    cursor: pointer;
    font-size: 2.8em;
    border-radius: 100px;
    padding:0px 15px;
    background-color:rgba(68, 63, 63, 0.1);
    margin: 10px 20px;
}

.back-arrow:hover { 
    background-color:rgba(68, 63, 63, 0.2);
}



.admin-right {
    width:150px;
}



.shopping-cart {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.admin-page {
    display: flex;
    flex-direction: row;
}

.product-group-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.ProductGroup {
    display:flex;
    flex-direction: row;
    border:1px solid rgb(221, 218, 218);
    padding:15px;
    margin: 30px 30px 30px 100px;
    width:50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 2px rgb(221, 218, 218);
    border-radius: 5px;
    font-size:1.1em;
    justify-content: space-between;
}

.ProductGroup > p {
    padding: 2px;
}

.product-title {
    font-size: 2em;
    color:rgb(16, 16, 17);
}

header {
    background-color: rgb(218, 213, 213);
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
}

.navbar-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

/* .nav-left {
    justify-self: start;
} */

.nav-middle {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:20px;
    justify-self: center;
}

.nav-middle a {
    color: white;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-self: end;
    color: white;
}

.nav-middle a {
    text-decoration: none;
}

.nav-right img {
    width:30px;
    color: white;
}













body {
    background-color: rgba(238, 233, 233, 0.6);
}

.product-creation {
    color: rgba(30, 30, 31, 0.6);
    font-style: italic;
    margin-top: 15px;
    font-size:1.1em;
}

.product-price {
    margin-top:20px;
}

.product-price, .product-quantity {
    color: rgb(80, 76, 76);
    font-size:1.2em;
}

.delete-product {
    display:flex;
}

.delete-product > img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.admin-form {
    display:flex;
    flex-direction: column;
    margin: 30px 0px 30px 0;
    font-size: 1.4em;
}

.admin-form > label {
    margin: 10px 0px 5px 0;
}

.admin-button {
    margin-top: 10px;
}

.admin-form > input {
    padding: 5px;
    font-size: 1em;
}

.admin-form > button {
    padding: 10px;
    font-size: 1.1em;
    background-color: rgb(218, 213, 213);
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.admin-form > button:hover {
    background-color: rgb(200, 195, 195);
}

input.error {
    border: 2px solid red;
}

.form-error-msg {
    color: rgb(236, 18, 18);
    font-size: 0.6em;
    background-color: rgba(177, 14, 14, 0.1);
    padding:5px;
    border: 1px solid rgb(236, 18, 18);
    text-align: center;
}

.catalogue-card { 
    border:1px solid rgb(221, 218, 218);
    width: fit-content;
    padding:15px;
    margin: 30px 30px 30px 100px;
    text-align: center;
}
